* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #F6FBEF;
    font-size: 24px;
    padding: 25px;
    
}
h1{
    text-align: center;
}

.gnlContainer{
    border: 5px solid black;
    border-radius: 20px 20px;
    padding: 10px;
    background-color: #23022E;
}
.pokedex{
    border: 5px solid black;
    border-radius: 20px 20px;
    padding: 30px;
    background-color: #ADA8B6;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &__pokeCard {
        border: 2px solid black;
        border-radius: 10px 10px;
        margin: 20px;
        background-color: #573280;
        width: 200px;
        height: 200px;

            img{
                height: 120px;
                width: 120px;
                border: 2px solid darkgoldenrod;
                border-radius: 50%;
                background: aliceblue;
            } 
            button{
                border: 1px solid black;
                border-radius: 10px;
                text-transform: capitalize;
                font-weight: bolder;
                box-shadow: 2px 2px black;
                color: darkgoldenrod;

                &:hover{
                    font-size: 120%;
                    cursor: pointer;
                }
                
            }
    }
}
// .stats{
//             border: 1px solid black;
//               padding: 10px;
//         }